<html lang="pl" ng-app="harmonogram">
<head>
  <base href="/">
  <meta charset="utf-8" />
  <title>Harmonogram zajęć</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular-route.min.js"></script>
  <script type="text/javascript" src="/js/ang.js"></script>
</head>
<body ng-controller="harmonogramCtrl">
  <div id="wrapper">
    <header id="header">
      <img src="/images/header.jpeg" alt=""/>
      <h2><p align="center" ng-show="zaklad == 0">Nie wybrano planu zajęć</p></h2>
      <h2><p align="center" ng-show="zaklad != 0">Plan zajęć dla {{pobierzNazweZakladu(zaklad)}}
      </header>
      <aside id="side">
        <nav>
          <div class="btn-group">
            <button class="btn btn-default">
              <span class="dropdown-toggle" data-toggle="dropdown">Wybierz instytut</span>
              <ul class="dropdown-menu">
                <li ng-repeat="i in instytuty">
                  <a style="none" ng-click="wybierzInstytut(i.index)">{{i.title}}</a>
                </li>
              </ul>
            </button>
            <button class="btn btn-default">
              <span class="dropdown-toggle" data-toggle="dropdown">Wybierz zakład</span>
              <ul class="dropdown-menu">
                <li ng-repeat="zd in zaklady">
                  <a style="none" ng-click="wybierzZaklad(zd.z)" ng-show="zd.i == pobierzInstytut()" ng-href="/plan/{{zd.z}}">{{zd.title}}</a>
                </li>
              </ul>
            </button>
          </div>
          <button class="btn btn-default">
            <span ng-click="reset()">Wyczyść tabelę</span>
          </button>
        </nav>
      </aside>
      <section id="content">
        <div ng-view>
        </div>
      </section>
      <div id="clear"></div>
      <footer id="footer">
        <p>Copyright &copy; 2017. Wszelkie prawa zastrzeżone.</p>
      </footer>
    </div>
  </body>
  </html>
